body{
    background-color: antiquewhite
}

h1{
    text-align: center;
    font-family: monospace;
    font-size: 60px;
    margin-top: 150px;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    
    
}

nav{
    position: fixed;
    background-color: whitesmoke;
    padding: 5px;
    top: 0px;
    width: 100%;
    font-family:sans-serif;
    
}

nav>ul{
    list-style-type: none;
    display: flex;
        
}

nav>ul>li>ul{
    list-style-type: none;
    
}
div{
    display: flex;
}
.slideshow{
    list-style-type: none;
    margin:auto;
    display: block;
}

.slideshow p{
    text-align: center;
    color:darkgreen;
    font-weight: bold;
}

.button{
    font-family: monospace;
    font-weight: bold;
    font-size:100px;
    margin-left: 10px;
    margin-right: 10px;
}
.slideshow a{
    text-decoration: none;
    display: inline;
}

.popup:hover>.dropdown{
    display: block;
}

.dropdown>li>a{
    text-decoration: none;
    color: darkgreen;
}

.dropdown{
    display: none;
}

nav>ul>li>a{
    margin: 10px;
    text-align: center;
    color: darkgreen;
    text-decoration: none;
    
     
}

footer{
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgb(165, 165, 165);
       
}