section {
    width: auto;
}

.bg {

    background-color: #6f6e6e22;
    padding: 30px 50px 0 50px;
    margin: 0px;
    border-radius: 10px;
    justify-content: space-between;
}

.input-field-button {
    background-color: #222222;
    color: #ffe6c5;
    font-size: 20px;
    margin: 10px;
    /* margin-left: 55px; */
    border-radius: 2px;
    box-shadow: none;
    padding: 10px;
    border: none;
    /* align-content: center; */
    /* display: block; */
    position: relative;
    justify-content: flex-end;
}

.input-field-button:hover {
    background-color: #303030;
}

.input-field {
    background-color: #6f6e6e22;
    display: block;
    margin: auto;
    text-align: center;
    width: 180px;
    height: 30px;
    border: 1px solid #303030c4;
}

.phone-link {

    text-decoration: none;
    font-size: x-large;
    position: relative;
    bottom: 0px;
    margin-top: 15px;
    padding-top: 10px;
    text-align: center;
    color: rgb(255, 204, 136);
    display: block;
    align-content: right;
    padding: 0px;
    width: 140px;
    height: 30px;
    font-weight: bold;
}

.phone-link:hover {
    color: rgb(255, 223, 181);
}

.terms-and-contitions {
    text-decoration: none;
    color: antiquewhite;
    display: inline;
}

.h6 {
    display: inline-block;
    text-align: left;
    justify-content: left;
}

p,
h1 {
    margin: 10px;
}

footer {
    width: 97.5vw;
    text-align: center;
    padding: 15px;
    position: inherit;
    display: block;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #343434;
    color: rgb(198, 198, 198)
}

.footImg {
    width: 30px;
    height: 30px;
    display: inline;
    padding: 0%;
    margin: 3px;
    z-index: 2;
    border-radius: 5px;
    filter: none;
    -webkit-filter: grayscale(0%);
    justify-content: flex-end;
}

.footImg:hover {
    filter: gray;
    -webkit-filter: grayscale(60%);

}

.google-map {
    justify-content: right;
}

.bott {
    position: relative;
    bottom: 0;
}

.container {
    justify-content: space-between;
    padding-top: 60px;
    display: flex;
}

.button {
    justify-content: flex-end;
    align-content: center;
}

.sub {
    margin-left: 0px;
    font-size: x-large;
}

iframe {
    border-radius: 4px;
}

.find-us {
    display: inline;
    /* margin-left: auto;
   margin-right: auto; */
}

.find-us a {
    align-items: center;
}

.contact {
    display: block;
    font-size: x-large;
}

.reveal {
    position: relative;
    top: 100px;
    opacity: 0;
}

.reveal.active {
    opacity: 1;
}

.active.fade-bottom {
    animation: fade-bottom 1s ease-in;
}

@keyframes fade-bottom {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}