*{
    margin: 0;
    padding: 0;
}

.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(../Photos/background2.jpg);
    background-size: cover;
    background-position: center;
}

.navbar{
    width: 100%;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(0,0,0,0.5);
}

.logo{
    width: 120px;
    cursor: pointer;
    padding-left: 35px;
    z-index: 1;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: purple;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}

.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}

.content h1{
    font-size: 70px;
    margin-top: 80px;
}

button{
    width: 200px;
    display: inline-block;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

button a{
    text-decoration: none;
    color: #fff;
}

span{
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span{
    width: 100%;
}

button:hover{
    border: none;
}

#romanian-army{
    width: 80%;
    padding-top: 20px;
    padding-left: 200px;
}

.romanian-army-box{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}

.single-box{
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: #fff;
    position: relative;
}

.single-box img{
    width: 100%;
    border-radius: 7px;
}

.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(0,0,0,0.5),purple);
    opacity: 0;
    transition: 1s;
}

.single-box:hover .overlay{
    opacity: 1;
}

.army-description{
    width: 80%;
    position: absolute;
    bottom: 0;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    transition: 1s;
}

.army-description h3{
    font-size: 30px;
}

a .army-description{
    text-decoration: none;
    color: #fff;
}

.single-box:hover .army-description{
    bottom: 40%;
    opacity: 1;
}

.title{
    text-align: center;
    color: #fff;
    font-size: 80px;
    margin-top: 30px;
}

.row{
    display: flex;
    flex-direction: row;
}

.land-forces-subtitles{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.land-forces-subtitles-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: center;
}

.land-forces-subtitles-col img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.land-forces-subtitles-col h3{
    color: #fff;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
}

.land-forces-description{
    text-align: center;
    margin-bottom: 100PX;
    padding: 50px;
}

.land-forces-subtitle{
    font-size: 80px;
    padding: 30px;
}

.land-forces-description p{
    font-size: 20px;
}

ul{
    list-style: none;
}

.information{
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 50%;
    left: -10%;
    transform: translateY(-50%);
}

#circle{
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    transform: rotate(0deg);
    transition: 1s;
}

.invert{
    -webkit-filter: invert(100%);
}

.feature img{
    width: 70px;
}

.feature{
    position: absolute;
    display: flex;
    color: #fff;
}

.feature div{
    margin-left: 30px;
}

.feature div p{
    margin-top: 8px;
}

.one{
    top: 450px;
    right: 50px;
}

.two{
    top: 150px;
    left: 350px;
    transform: rotate(-90deg);
}

.three{
    bottom: 450px;
    left: 50px;
    transform: rotate(-180deg);
}

.four{
    bottom: 150px;
    right: 350px;
    transform: rotate(-270deg);
}

.land-forces-icon{
    width: 170px;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translateY(-50%);
    z-index: 1;
}

.controls{
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.controls h4{
    margin: 15px 0;
    color: #fff;
}

#upBtn{
    width: 20px;
    cursor: pointer;
    color: #fff;
}

#downBtn{
    width: 20px;
    cursor: pointer;
    transform: rotate(180deg);
    color: #fff;
}

.overlay2{
    width: 0;
    height: 0;
    border-top: 500px solid #fff;
    border-right: 500px solid transparent;
    border-bottom: 500px solid #fff;
    border-left: 500px solid #fff;
    position: absolute;
    left: 0;
    top: 0;
}

.plane-icon{
    transform: rotate(180deg);
    top: 420px;
}

.ship-icon{
    top: 470px;
}

/* Popup container - can be anything you want */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: 500px;
    height: 80px;
    background-color: transparent;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: -500%;
    left: 50%;
    margin-left: -100px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 10%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent;
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }
