.properpag {
  font-style: none;
}

#beginingImg {
  position: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 0px;
  padding: 0px;
}
#beginingImg img {
  width: 100%;
  height: 120px;
  margin-left: 0px;
  margin-right: 0px;
}

#headText {
  position: absolute;
  color: #f5d1a2;
  -webkit-text-stroke: 2px rgb(100, 65, 13); /*Esto es para hacer lo de la linea de fuera de la palabra*/
  width: 100%;
  height: auto;
  text-align: center;
  margin:0px;
  padding: 0px;
  z-index: 3;
}

#rank1{
  margin-bottom: 5px;
  width: fit-content;
}
#rank1 ol{
list-style-type: lower-roman;
list-style-position: inside;
width: fit-content;
height: auto;

}
#rank1 li{
  background-color: #f5d1a2;
  border: #eccaca 2px solid;
  float: left;
  margin-right: 40px;
  padding: 4px;
  font-size: 20px;
  margin-bottom: 10px;
  align-items: center;
  align-content: center;
  
}
.ranksWord{
  width: fit-content;
  height: auto;
}
#rank2{
  width: 100%;
  height: auto;
}
#rank2 ol{
  position: inherit;
  list-style: inline;
  height: auto;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-top: 10px;
  width: 100%;
  display: flex;
  padding:0px;
  margin-top: 5px;
  text-align: justify;
}
#rank2 li {
  position: inherit;
  list-style-type: none;
  text-align: center;
  float: left;
  width: 120px;
  display: flex;
  align-items: center;
  align-content: center;
  
}
.rankimg {
  height: auto;
  width: 35px;
}

.materials {
  width: fit-content;
  position: inherit;
  margin-top: 80px;
  align-content: center;
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.materialstb caption {
  font-size: 30px;
  text-decoration: solid;
}
.materialstb {
  text-align: center;
  width: 75%;
  margin-right: auto;
  border: 3px solid rgb(100, 65, 13);
  background-color: #f5d1a2;
  border-collapse: collapse;
  position: inherit;
  align-content: center;
  margin-left: 30px;
  margin-right: 30px;
}
.materials caption{
  text-align: left;
  text-decoration: underline color(#908d96);
  color:#908d96;
}

.pass{
  width: 500px;
  height: auto;
  font-size: 20px;
}

.typesMaterial{
  font-size: 25px;
  color:#908d96;
}

.showMoreInfo{
  display: none;
margin-left: auto;
margin-right: auto ;  
}

.showMoreInfo2 {
  display: none;
  list-style: none;
  text-align: justify;
  margin-right: 30px;
}

#howToGetIn {
  list-style: none;
  text-align: center;
  width: 100%;
  height: auto;
  padding: 0px;
}
#howToGetIn li{
  display: inline;  
}
#howTogetIn2{
  list-style: none;
  display:none;
}
#howToGetIn2 ul{
  list-style:none;
}
#howToGetIn2 li{
  list-style: none;
}
.linkedToWeb{
  color: rgb(100, 65, 13);
}
.typesHowTo{
  font-size: 15px;
}

.center {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  text-align: center;
  align-content: center;
}


#bucket{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}
#up{
  width: 50%;
  height: auto;
}
#ups{
  width: 50%;
  height: auto;
}
#upImg{
  width: 40px;
  height: auto;
  margin-left: 5px;
}
#upImgs{ 
  width: 40px;
  height: auto;
}

#mapDiv{
  position: relative;
  width: 100%;
  height: 550px;
  place-items: center;
  margin: auto;
  display: grid;
}
#mapDiv p{
margin-left: 30px;
}
#map{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  align-items: center;
  margin-top: 0px;
  z-index: 1;
}

.imagenMove {
  width: 100%;
  height: auto;
 display: flex;
 justify-content: center;
 align-items: center;
 margin-top: 10px;
}

.imagenMove figure {
width: 320px;
height: 250px;
transition: all 500ms ease;
border-radius: 5px;
margin-top: 50px;
}

.imagenMove figure img {
  width: 100%;
  height: 100%;
transition: all 500ms ease;
}

.imagenMove figure img:hover{
 transform: scale(1.2);
 cursor: pointer;
}


.noLine {
  text-decoration: none;
  color:#908d96;

}
#sectionHome {
  width: auto;
  height: 400px;
  position: inherit;
  text-align: center;
}

#headTextHome {
  position: absolute;
  color: white;
  -webkit-text-stroke: 2px black;
  background-color: white blur(20px);
  backdrop-filter: blur(20px);
  width: 100%;
  text-align: center;
  margin: 0px;
}

.academys{
  position: block;
  margin-top: 60px;
  align-content: center;
  width: fit-content;
  height: auto;
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
}
.academys table{
  width: fit-content;
  height: auto;
}
.academys caption{
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100px;
  font-size: 25px;
  font-size: 25px;

}

.academys td{
  width: auto;
  height: fit-content;
  margin-bottom:10px ;
}
#forces{
  width: fit-content;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  margin-bottom: 10px;
}
#forces caption{
  color: rgb(100, 65, 13);
  font-size: 25px;
}
#forces td{
  border: 1px black;
  text-align: center;
}
#forces tr{
  border: 1px black;
}

.logo{
  width: 200px;
  height: auto;
}

.photocalendar{
  width: 30px;
  height: auto;
}

#mainSection{
  width: 75%;
  height:auto;
  float: left;
  margin: 0px;
  min-height: 3680px;
}

.newss{
  width: 100%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  background-color: #f5d1a2;
  border: 2px rgb(131, 85, 15) solid;
  margin-top: 30px;
}
.newss h3{
  width: 100%;
  height: auto;
  text-align: center;
  margin-bottom: 5px;
}
.newss h4{
  width: 100%;
  height: auto;
  font-size: 20px;
  text-align: center;
  margin-top: 5px;
}
.newsImg{
  margin-left: 15px;
  margin-right: auto;
  width: 90%;
  height: auto;
  margin-bottom: 10px;

}
#afterMain{
  align-content: center;
  text-align: center;
  position: block;
}
.square{
  width: 50%;
  height: 60px;
margin-bottom: 10px;
}

#color1{
background-color:  rgb(100, 65, 13);
float: left;
}
#color2{
  width: 50%;
  height: 60px;
  background-color: #f5d1a2;
float:right;
}

.operaciones{
  width: 100%;
  height:200px;
  margin-right: auto;
  margin-left: auto;
  background-color: #f5d1a2;
  border: 2px rgb(131, 85, 15) solid;
  margin-top: 15px;
  overflow-y: scroll;
}
.operaciones p{
  font-size: 20px;
  margin-left: 7px;
  margin-right: 7px;
}
.operaciones h3{
  width: 100%;
  height: auto;
  text-align: center;
  margin-bottom: 5px;
}
.operaciones h4{
  width: 100%;
  height: auto;
  font-size: 20px;
  text-align: center;
  margin-top: 5px;
}

.articleAboutMe{
  margin-left: 20px;
  margin-right: 20px;
}

#sports{
  justify-content: center;
  list-style-type: none;
  width: 80%;
  height: auto;

  
}
#sports li{
  justify-content: center;
  align-items: center;
}
#sports div{
  justify-content: center;
}
#sports img{
  width: auto;  
  height: auto;

}
.videos{
  margin-top: 10px;
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
}

#previous{
  position: absolute;
  font-size: 50px;
  height: auto;
  font-weight: bold;
  float:left;
  width: 10%;  
  margin-top: 270px;
}
#next{
  position: inherit;
  font-size: 50px;
  height: auto;
  font-weight: bold;
  float: right;
  width: 10%;
  margin-top: 270px;
}

.passed{
  list-style-type: none;
  justify-content: center;
  width: 80%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
  .changeImg{
    display: block;
  }
  .scouts{
    width: 500px;
    height: 1.200px;
  }

  .navyImgRank{
    width: 70px;
    height: auto;
  }
  aside{
    margin-top: 40px;
    width: 20%;
    height: auto;
    float: right;
    min-height: 3640px;
    margin-right: 40px;
    }
body {
  height: auto;
}
article {
  position: inherit;
  overflow: hidden;
}
section {
  margin-top: 75px;
  position: inherit;
  width: 100%;
  height: auto;
  text-align: justify;
  margin-left:0px;
  font-size: 20px;
}
h2 {
  text-align: center;
  font-size: 30px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  text-decoration: underline #f5d1a2;
}
h3{
  text-align: center;
  font-size: 25px;
}
h5{
  text-align: center;
  margin-top: 0px;
}
h4{
  margin-bottom: 5px;
}
p {
  text-align: justify;
  margin-left: 8px;
  font-size: 20px;
}
button{
  background-color: #f5d1a2;
}
